body {
  font-family: 'Open Sans', sans-serif;
}

section {
  width: 50%;
  float: left;
  height: 100vh;
  top: 0;
  text-align: center;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #455A64;
}

.section1 h1 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 3.5em;
  margin-bottom: 60px;
}

h2 {
  margin-top: 15px;
}

img {
  width: 1.3em;
}

input, #enter-btn {
    display: block;
    margin: auto;
    margin-top: 50px;
    letter-spacing: .1em;
}

input {
  width: 39vw;
  /*width: 395px;*/
  height: 6vh;
  font-size: 1.5em;
}

#enter-btn {
  background-color: #FFC107;
  border: 0;
  color: white;
  width: 40vw;
  /*width: 400px;*/
  height: 6vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 800;
}

#enter-btn:hover {
  background-color: #ffd773;
}

.section2 {
  background-color: #CFD8DC;
}

article {
  min-height: 120px;
  border: 2px solid #607D8B;
  margin: 3%;
  padding: 3%;
  background-color: #fff;
}

.web-title {
  font-size: 26px;
  font-weight: 800;
  color: #455A64;
  text-align: left;
  padding: 10px 0;
  border-bottom: 1px solid #cfd8dc;
}

.web-url {
  font-size: 18px;
  font-weight: 400;
  color: #607D8B;
  text-align: left;
  padding: 15px 0;
  border-bottom: 1px solid #cfd8dc;
}

hr {
  color: #CFD8DC;
}

.read-btn, .delete-btn {
    border: none;
    background: none;
    font-size: 14px;
    color: #455A64;
    border-bottom: .2px solid #455a64;
    padding: 0;
}

.read-btn {
  float: left;
  padding-top: 10px;
}

.delete-btn {
  float: right;
  padding-top: 10px;
}


/*jQueries*/

.read {
  color: #f05a28;
  background-color: #f2f4f4;
  underline: #cfd8dc;
}


/*tablet layout*/
@media screen and (max-width: 768px) {

section {
  width: 100vw;
}

input {
  width: 75vw;
}

#enter-btn {
  width: 75vw;
}

.section1 {
  display: flex;
  height: 65vh;
}


@media screen and (max-width: 520px) {

.section1 h1 {
  font-size: 2em;
}
