
section {
  width: 50%;
  float: left;
  height: 100vh;
  top: 0;
}

.section1 {
  background-color: #455A64;
}

img {
  width: 1em;
}

.section1 h1 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  margin-left: 10%;
}

.section2 {
  background-color: #CFD8DC;
}

input {
  width: 22vw;
  height: 5vh;
  margin-left: 10%;
}

#enter-btn {
  background-color: #FFC107;
  border: 0;
  color: white;
  width: 22vw;
  height: 5vh;
  font-family: 'Open Sans', sans-serif;
  font-size: .65em;
  margin-left: 10%;

}

.read-btn.read {
  text: #f05a28;
  background-color: #f2f4f4;
}
